# Arquivos de ambiente e segredos
.env
*.env

# Python
*.pyc
__pycache__/
backend/__pycache__/

# Node.js
node_modules/
frontend/node_modules/

# Docker volumes e bancos locais
volumes/
*.sqlite3
db.sqlite3

# Logs, backups e temporários
*.log
*.bak
*.swp
*.tmp
*.temp

# VSCode e sistema
.vscode/
.DS_Store

# Dumps e scripts de banco
*.dump
*.sql
*.md